.grid-container {
    display: grid;
    margin-top: 75px;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 16px;
    border: 1px solid #ddd;
}