@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

form{
    justify-content: center;
    align-items: center;
}

.login-container {
    justify-content: center;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #2d3748;
    margin-right: 60px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2937;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #eab308;
    font-family: "Kaushan Script", cursive;
}

.login-container label {
    display: block;
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
    font-family: "Kaushan Script", cursive;
}

.login-container input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #6b7280;
}

.login-container input:focus {
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.login-container button:active {
    transform: translateY(0);
}

.login-container .forgot-password {
    text-align: center;
    margin-top: 10px;
}

.login-container .forgot-password a {
    color: #1f2937;
    text-decoration: none;
    font-weight: bold;
}

.login-container .forgot-password a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .login-container {
        margin: 20px;
    }
}

.login-image{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    align-items: center;
    margin-top: 90px;
    margin-left: 60px;
}

.login-animation {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: moveAnimation 2s infinite;
}

@keyframes moveAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}