@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f2937;
    padding: 20px;
}

.profile-card {
    background-color: #2d3748;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 450px;
    max-width: 100%;
    text-align: left;
    font-family: 'Kaushan Script', cursive;
    border-radius: 10px;
}

.profile-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #eab308;
}

.profile-detail {
    margin: 15px 0;
    text-align: left;
}

.profile-label {
    display: block;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    font-family: 'Kaushan Script', cursive;
}

.profile-value {
    display: block;
    margin-top: 5px;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #6b7280;
    font-family: 'Arial', sans-serif;
}

@media (max-width: 500px) {
    .profile-card {
        padding: 20px;
    }

    .profile-heading {
        font-size: 1.5rem;
    }

    .profile-detail {
        margin: 10px 0;
    }

    .profile-label {
        font-size: 1rem;
    }

    .profile-value {
        font-size: 1rem;
        padding: 8px;
    }
}