@tailwind base;
@tailwind components;
@tailwind utilities;

.register-container {
    max-width: 1000px;
    width: 550px;
}

.registration-page{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #d1d5db;
}

form{
    background-color: #1f2937;
    padding: 35px;
}
.register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.register-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}
.register-container input,
.register-container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #6b7280;
    font-size: 16px;
    transition: border 0.3s ease;
    color: white;
}

.register-container input:focus,
.register-container select:focus {
    border-color: #007bff;
    outline: none;
}

/*.register-container button {*/
/*    width: 100%;*/
/*    padding: 12px;*/
/*    background-color: #28a745;*/
/*    color: #fff;*/
/*    border: none;*/
/*    border-radius: 6px;*/
/*    font-size: 18px;*/
/*    font-weight: 600;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.register-container button:hover {*/
/*    background-color: #218838;*/
/*}*/

.mobile-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.mobile-input-container select {
    width: 25%;
    margin-right: 10px;
}

.mobile-input-container input {
    width: 75%;
    padding: 12px;
}

.register-container input:hover,
.register-container select:hover {
    border-color: #007bff;
}

@media (max-width: 768px) {
    .register-container {
        padding: 20px;
    }

    .mobile-input-container select {
        width: 35%;
        margin-right: 8px;
    }

    .mobile-input-container input {
        width: 65%;
    }
}

button{
    color: white;
    background-color: #6b7280;
}