@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.register-container {
    width: 650px;
    border-radius: 10px;
}

.registration-page{
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    overflow: hidden;
    scroll-behavior: smooth;
}
  
form{
    background-color: #2d3748;
    margin-right: 15px;
    margin-top: 80px;
}
.register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: "Kaushan Script", cursive;
    color: #eab308;
    font-weight: 700;
    font-size: 50px;
}

.register-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
}
.register-container input,
.register-container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #6b7280;
    font-size: 16px;
    transition: border 0.3s ease;
    color: white;
    height: 50px;
}

.register-container input:focus,
.register-container select:focus {
    border-color: #007bff;
    outline: none;
}

.mobile-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.mobile-input-container select {
    width: 25%;
    margin-right: 10px;
}

.mobile-input-container input {
    width: 75%;
    padding: 12px;
}

.register-container input:hover,
.register-container select:hover {
    border-color: #007bff;
}

@media (max-width: 768px) {
    .register-container {
        padding: 20px;
    }

    .mobile-input-container select {
        width: 35%;
        margin-right: 8px;
    }

    .mobile-input-container input {
        width: 65%;
    }
}

button{
    color: white;
    background-color: #6b7280;
}

.white-border-form {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
}